@import '_base' ;

header{
    @include wind-width(1880px)
    {
        max-width: 25rem;
        padding:1rem
    }
    @include wind-width(400px)
    {
        max-width: 17rem;
        padding:0.5rem
    }
}
main{
    @include wind-width(1880px)
    {
        max-width: 25rem;
       min-height: 30rem;
        max-height: 50rem;
    }
    @include wind-width(400px)
    {
        max-width: 17rem;
       min-height: 20rem;
        max-height: 50rem;
    }
}
#deleteList{
    background-color: rgb(241, 103, 103);  
}
#add_item{
    background-color: rgb(126, 190, 255);
}